@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: #7C60E6;
}

.container {
    margin: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid {
    width: 615px;
    height: 210px;
}

.container-title {
    font-size: 42px;
}

.container-text {
    padding: 10px;
    color: #46467f;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.title-destaque {
    color: #60C4E6;
}

.paragrafo-destaque {
    color: #ADC5E6
}

img, .zFantods {
    width: 30%;
    border-radius: 50%;
    border: #7c60e6 solid 5px;
}