@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

:root {
  --first-color: #7c60e6;
  --second-color: #22D4FD;
  --third-color: #f6f6f6;
  --fourth-color: #000000;

  --main-source: 'montserrat', sans-serif;
  --secondary-source: "Krona One", sans-serif;

}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--fourth-color);
  box-sizing: border-box;
  color: var(--first-color);
}


.container-header {
  padding: 2% 0% 0% 15%;
}


.container-header-nav {
  display: flex;
  gap:80px;
}

.container-nav-link {
  font-family: var(--main-source);
  font-size: 24px;
  font-weight: 600;
  color: var(--second-color);
  color: inherit;
  text-decoration: none;
}

.container-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10% 15%;
  padding-bottom: 200px; /* Adiciona espaço no final */
}


.container-title {
  color: var();
  font-size: 42px;
}

.container-text {
  color: var(--third-color);
  font-size: 22px;
  font-family: var (--main-source);
  padding: 10px;
}

.title-highlights {
  color: var(--second-color);
}

.paragraph-highlights {
  color: var(--first-color);
}

.container-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.container-link-subtitle {
  font-family:var (--secondary-source);
  font-size: 32px;
  font-weight: 400;
}

.container-links-link {
  border: 1px outset var(--first-color);
  border-radius: 16px;
  color: var(--third-color);
  display: flex;
  font-family: var (--main-source);
  font-size: 24px;
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  padding: 21px 0;
  text-align: center;
  text-decoration: none;
  width: 378px;
}

.container-links-link:hover {
  border: 2px solid var(--second-color);
  color: var(--third-color);
  cursor: pointer;
  padding: 3%;
}

.zFantods {
  border-radius: 50%;
  border: var(--first-color) solid 5px;
  width: 30%;
}

.footer-container {
  color: var(--fourth-color);
  background-color: var(--second-color);
  padding: 12px;
  text-align: center;
  font-family: var(--main-source);
  font-size: 24px;
  font-weight: 400;
}
